body {
  background-image: url("../images/nebula.jpg");
}

h1 {
  text-align: center;
  font-family: courier;
  color: white;
  font-size: 4em;
}

#board {
  padding: 9px;
  width: 1300px;
  height: 645px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;;
  flex-wrap: wrap;
  align-content: space-around;
  border-radius: 5px;
  margin: auto;
  position: relative;
  right: 4%;
  background-color: rgba(49, 56, 59, 0.7);
}

#board p {
  color: mediumspringgreen;
  font-weight: bold;
  font-size: 1.5em;
  font-family: courier;
  position: absolute;
  left: 15px;
  top: 0;
}

#board div {
  width: 150px;
  height: 150px;
  background: -moz-linear-gradient(-45deg, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
  border-radius: 5px;
}

#boxMenuBoard {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}

#menu {
  width: 150px;
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 10px;
  align-items: center;
  background-color: rgba(49, 56, 59, 0.7);
  margin-left: 10px;
}

#movesCount {
  width: 90%;
  height: 40px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.7em;
  text-align: center;
  font-family: arial;
  color: white;
  font-family: courier;
}

button {
  width: 90%;
  height: 40px;
  margin-top: 5px;
  background-color: mediumspringgreen;
  font-weight: bold;
  font-family: arial;
  color: black;
  border-radius: 10px;
}

@media all and (max-width: 1500px) {
  #board {
    width: 645px;
    height: 1250px;
    right: 0;
  }

  #menu {
    width: 661px;
    margin-left: 0;
    height: 130px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  #boxMenuBoard {
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    height: 1480px;
  }

  button {
    width: 15%;
    margin-right: 10px;
  }

}
