h1 {
  text-align: center;
}

#board {
  margin: auto;
  margin-top: 30px;
  width: 970px;
  height: 800px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-around;
  background-color: grey;
}

#board div {
  width: 150px;
  height: 150px;
  background-color: black;
}
