body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #171F28;
  color: #ADAFB1;
  font-family: sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  margin-top: 50px;
}

nav a {
  text-decoration: none;
  color: #ADAFB1;
  font-size: 2em;
  font-weight: bold;
}

nav a:hover {
  color: #31613b;
}

.separator {
  width: 20px;
  height: 20px;
  background-color: #31613b;
}