body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #171F28;
  color: #ADAFB1;
  font-family: sans-serif;
}

nav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

nav a {
  height: 300px;
  width: 300px;
  text-align: center;
  text-decoration: none;
  color: #ADAFB1;
  font-size: 2em;
  margin-right: 10px;
  margin-left: 10px;
}

.classic-button {
  background-color: grey;
  opacity: 0.8;
}

.disney-button {
  background-color: indigo;
  opacity: 0.8;
}