body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #171F28;
  color: #ADAFB1;
  font-family: sans-serif;
}

h1 {
  margin: 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  height: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-top: 2px solid #31613b;
  border-bottom: 2px solid #31613b;
}

nav a {
  text-decoration: none;
  color: #ADAFB1;
  font-size: 1.2em;
  font-weight: bold;
}

nav a:hover {
  color: #31613b;
}

.main-game-zone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.gameStats {
  height: 92%;
  width: 10%;
}

.gameStats p {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 25px;
  margin-top: 25px;
  max-width: 100%;
}

#board {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  height: 90%;
  margin-bottom: 50px;
  margin-right: 100px;
}

#board div, #board div img {
  height: 150px;
  width: 150px;
}

#board div {
  background-color: #2a5184;
  margin: 2px 2px 2px 2px;
}

#disney-theme #board div {
  background-color: #9cdbdb;
}

.matchMsg {
  position: absolute;
  margin: auto;
  bottom: 90px;
  font-size: 5em;
  font-weight: bold;
  font-family: arial;
  text-align: center;
  color: orange;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-name: fadeup;
}

@keyframes fadeup {
  from {
    opacity: 1;
    bottom: 90px;
  }
  to {
    opacity: 0;
    bottom: 190px;
  }
}