body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #171F28;
  color: #ADAFB1;
  font-family: 'Permanent Marker', cursive;
}

header {
  width: 100%;
  height: 70px;
  border-bottom: 2px solid #31613b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 52px;
  height: 52px;
  margin-left: 180px;
}

header h1 {
  color: #31613b;
}

nav {
  margin-right: 150px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

nav a {
  margin-right: 50px;
  text-decoration: none;
  color: #ADAFB1;
  font-size: 1.5em;
  font-weight: bold;
}

nav a:hover {
  color: #31613b;
}

.main-game-zone {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.gameStats {
  width: 300px;
  height: 613px;
  background-color: rgba(242, 242, 242, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.gameStats p {
  margin-left: 15px;
  font-size: 1.5em;
}

#board {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 1250px;
  height: 600px;
  margin-bottom: 50px;
}

#board div, #board div img {
  height: 150px;
  width: 150px;
}

#board div {
  background-color: #2a5184;
  margin: 2px 2px 2px 2px;
}

#disney-theme #board div {
  background-color: #9cdbdb;
}

.matchMsg {
  position: absolute;
  margin: auto;
  bottom: 350px;
  font-size: 7em;
  font-weight: bold;
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  color: orange;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-name: fadeup;
}

@keyframes fadeup {
  from {
    opacity: 1;
    bottom: 350px;
  }

  to {
    opacity: 0;
    bottom: 450px;
  }
}