body {
	font-family: 'Permanent Marker', cursive;
	background-color: black;
	color: orange;
}

.global-wrapper {
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
}

.header-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 25%;
}

nav a {
	color: orange;
	text-decoration: none;
}

nav a:hover {
	color: lightgrey;
}

.main-game-zone {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.gameStats {
	display: flex;
	flex-direction: column;
}

#board {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
	width: 80%;
}

#board div, #board div img {
	height: 110px;
	width: 110px;
	border-radius: 5px;
}

#board div, #disney-theme #board div {
	margin: 2px;
}

#board div {
	background-image: url("../assets/images/card_back_classic.png");
}

#disney-theme #board div {
	background-image: url("../assets/images/card_back_disney.png");
}

.matchMsg {
	position: absolute;
	font-size: 5em;
	font-family: 'Permanent Marker', arial;
	font-weight: bold;
	text-align: center;
	width: 100%;

	animation-duration: 2s;
	animation-timing-function: ease-out;
	animation-name: fadeup;
}

@keyframes fadeup {
	from {
		opacity: 1;
		bottom: 25%;
	}

	to {
		opacity: 0;
		bottom: 35%;
	}
}